.proj-adv-form-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1.5em;
}

.proj-adv-prev-container {
  border: 0.75px solid black;
}

.proj-adv-form-btm-btns {
  grid-column: 2 / 3;
}

.proj-adv-update-del-btn-container {
  display: flex;
}

.proj-adv-add-btn,
.proj-adv-new-btn,
.proj-adv-prev-btn,
.proj-adv-del-btn,
.proj-adv-save-btn,
.proj-adv-update-btn {
  all: unset;
  border: 0.75px solid black;
  font-size: 1.5rem;
  padding: 0.25em 0 ;
  text-align: center;
}

.proj-adv-add-btn,
.proj-adv-new-btn,
.proj-adv-prev-btn {
  width: 99.5%;
}

.proj-adv-del-btn,
.proj-adv-save-btn,
.proj-adv-update-btn {
  width: 49.75%;
}

.proj-adv-new-btn,
.proj-adv-prev-btn {
  grid-column: 2 / 3;
}

.proj-adv-prev-btn {
  background-color: black;
  border: 0.75px solid black;
  color: white;
  margin-top: 1.25em;
}

.proj-adv-new-btn {
  margin-top: 0.75em;
}

.proj-adv-list {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.5em;
  grid-column: 2 / 3;
  list-style-type: none;
  margin: 1em 0;
}

.bullet-container {
  display: grid;
  gap: 0.25em;
  grid-template-columns: min-content 1fr;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
}

.proj-adv-form-name,
.proj-adv-form-date {
  font-weight: bold;
  padding-left: 0.25em;
}


.proj-adv-form-name {
  text-decoration: underline;
  padding-top: 0.25em;
}

.proj-adv-form-name:hover {
  color: #E41376;
  cursor: pointer;
}

.proj-adv-form-bullet:hover {
  color: #E41376;
  text-decoration: underline;
  cursor: pointer;
}
