* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  font-family: Garamond serif;
  margin-bottom: 3em;
}

.heading {
  grid-column: 2 / 3;
  font-size: 3rem;
  letter-spacing: 0.25rem;
  margin: 1em 0 0.5em 0;
  text-align: center;
}

.form {
  display: grid;
  grid-column: 2 / 3;
  gap: 1em;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

label {
  font-weight: 600;
}

input {
  all: unset;
  border: 0.75px solid black;
  padding: 0.25em;
}

textarea {
  border: 0.75px solid black;
  font-family: Garamond serif;
  font-size: 1.5rem;
  outline: none;
  padding: 0.25em;
  resize: none;
}

.add-btn {
  all: unset;
  border: 0.75px solid black;
  font-size: 1.5rem;
  justify-self: end;
  padding: 0.25em 0 ;
  text-align: center;
  width: 25%;
}

.btn:hover {
  cursor: pointer;
  font-weight: 900;
}

.btn:active {
  opacity: 0.5;
}
