.res-btn {
  all: unset;
  border: 0.75px solid black;
  font-size: 1.5rem;
  padding: 0.25em 0.5em;
  position: relative;
  text-align: center;
}

.res-btn::before {
  content: attr(data-text);
  font-weight: bold;
  visibility: hidden;
}

.res-btn:hover {
  font-weight: bold;
}

.btn-span {
  position: absolute;
  top: 0.25em;
  right: 0.5em;
  bottom: 0.25em;
  left: 0.5em;
}

.res-btn-row {
  display: grid;
  gap: 1em;
  grid-template-columns: 0.5fr;
  grid-template-rows: repeat(4, min-content);
  grid-column: 2 / 3;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

.reset {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}