.contact-res-container {
  display: grid;
  grid-column: 2 / 3;
  grid-template-columns: 1fr 4fr 1fr;
  margin-top: 1.5em;
}

.name {
  font-size: 3rem;
  grid-column: 2 / 3;
  letter-spacing: 0.25rem;
  text-align: center;
  margin-bottom: 0.25em
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  grid-column: 2 / 3;
  justify-content: space-evenly;
  font-size: 1rem;
  list-style-type: none;
}
